*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App{
  width: 100%;
  height: 100vh;
  text-align: center;
  background: rgb(104, 127, 143);
}

.Main{
  background: rebeccapurple;
  width: 65%;
  border-radius: 25px;
  position: relative;
  text-align: center;
  left: 50%;
  transform: translate(-50%);
  padding: 30px;
  top: 17rem;
  border: 2px solid rgb(226, 216, 226);
}

.Main h1{
  color: rgb(140, 181, 212);
}